/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) and (max-width : 1824px) {

  .wrapper {
    width: 100%;
  }


  /*.navigation{display: none;}
  .section {display: none}
  .web-dev {display: none}
  .mob-dev {display: none;}
  .why-us {display: none;}
  .feed-timeline {display: none;}
  .open-source  {display: none;}
  .labs {display: none;}
  .blog {display: none;}
  .team {display: none}
  .contact {display: none;}
  footer {display: none;}*/
}